@font-face {
  font-family: "LibreBodoni-Bold";
  src: url("/fonts/LibreBodoni-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "LibreBodoni-Medium";
  src: url("/fonts/LibreBodoni-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "LibreBodoni-Regular";
  src: url("/fonts/LibreBodoni-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("/fonts/OpenSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("/fonts/OpenSans-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
