.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: $padding-header-desk;
  z-index: 5;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    z-index: 9;
  }
}

.logo-link {
  position: relative;
  color: $color-primary;
  left: 2%;
}

.logo-link,
.swiper-pagination {
  z-index: 10;
}

.burger-button {
  display: none;
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  right: 18px;
  z-index: 10;
}

.burger {
  width: 50px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;

    &.top {
      stroke-dasharray: 40 160;
    }

    &.middle {
      stroke-dasharray: 40 142;
      transform-origin: 50%;
      transition: transform 400ms;
    }

    &.bottom {
      stroke-dasharray: 40 85;
      transform-origin: 50%;
      transition: transform 400ms, stroke-dashoffset 400ms;
    }
  }

  &.active {
    transform: rotate(45deg);

    .line {
      &.top {
        stroke-dashoffset: -64px;
      }

      &.middle {
        transform: rotate(90deg);
      }

      &.bottom {
        stroke-dashoffset: -64px;
      }
    }
  }
}
