.main-page {
  height: 100vh;
}

.main-wrapper--main {
  position: relative;
  //background: rgb(167,190,251);
  //background: linear-gradient(180deg, rgba(167,190,251,1) 0%, rgba(90,120,230,1) 47%, rgba(54,77,195,1) 100%);
  background: rgb(167,190,251);
  background: linear-gradient(180deg, rgba(167,190,251,1) 4%, rgba(90,120,230,1) 58%, rgba(54,77,195,1) 100%);
}

.greetings {
  @include centering-xy;
  width: fit-content;
  color: $bg-color;
  text-align: center;
}

.greetings__subheading {
  margin-bottom: 30px;
}

.greetings__heading {
  margin-bottom: 20px;
}
