@media screen and (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .main-text-content {
    line-height: 25px;
  }

  // === Header navigation menu starts ===
  .burger-button {
    display: block;
  }

  .swiper-pagination.nav-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightpink;
    overflow-y: auto;
    z-index: 8;

    &.active {
      display: flex;
      top: 50%;
    }
  }

  .swiper-container {
    .swiper-pagination {
      span {
        font-size: 24px;
      }
    }
  }
  // === Header navigation menu ends === //


  // === Section main starts === //
  #section-main {
    background-size: cover;
    background-position: 50%;
  }

  .greetings__desc {
    width: 100%;
  }
  // === Section main ends === //


  // === Section studio starts === //
  .flex-container,
  .flex-container--reverse {
    display: flex;
    flex-direction: column;
  }
  .flex-container--reverse {
    .slide-left {
      order: 1;
    }
    .slide-right {
      order: 2;
    }
  }
  .slide-left,
  .slide-right {
    width: 100%;
  }
  .slide-left {
    height: 40%;
  }
  .slide-right {
    height: 60%;
  }
  .slide-right__inner {
    height: 90%;
    width: 90%;
  }
  .img-basic--studio {
    top: -15px !important;
  }
  .slide-right__heading {
    &::after {
      top: 60px;
    }
  }
  .slide-right__contact {
    margin-bottom: 2%
  }
  // === Section studio ends === //
}


// above 1440px
@media screen and(min-width: 1441px) {
  .main-heading-h1 {
    font-size: 90px;
  }
  .main-heading-h2 {
    font-size: 24px;
  }
  .main-heading-h3 {
    font-size: 60px;
  }
  .main-text-welcome {
    font-size: 24px;
  }
  .main-text-desc {
    font-size: 20px;
  }
  .main-text-content {
    font-size: 16px;
  }
}
