// ===== Structure starts ===== //
body {
  background-color: $bg-color;
}

.main-wrapper {
  position: relative;
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

.main-content {
  display: flex;
}

.flex-container,
.flex-container--reverse {
  display: flex;
}
.flex-container--reverse {
  .slide-left {
    order: 2;
  }
  .slide-right {
    order: 1;
  }
}
.slide-left,
.slide-right {
  width: 50%;
  display: flex;
}
.slide-left {
  position: relative;
  overflow-y: hidden;
}
.slide-right {
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.slide-right__inner {
  height: 75%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
// ===== Structure ends ===== //



// ===== Typography starts ===== //
.main-heading-h1 {
  font-family: $font-heading-bold;
  @include adaptive-font(90, 60);
}
.main-heading-h2 {
  font-family: $font-heading-bold;
  @include adaptive-font(24, 20);
  color: $color-primary;
}
.main-heading-h3 {
  font-family: $font-heading-regular;
  @include adaptive-font(60, 35);
}
.main-text-welcome {
  font-family: $font-text-regular;
  @include adaptive-font(24, 20);
}
.main-text-desc {
  font-family: $font-text-light;
  @include adaptive-font(20, 14);
}
.main-text-content {
  font-family: $font-text-regular;
  @include adaptive-font(16, 14);
  line-height: 30px;
}
.main-text-btn {
  font-size: 14px;
}
// ===== Typography ends ===== //



// ===== Element basics starts ===== //
a,
button {
  transition: all 0.3s ease-in-out;
}
.btn-basic {
  max-width: 180px;
  min-width: 160px;
  padding: 10px 0;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  font-family: $font-text-regular;
  color: $color-accent;
  cursor: pointer;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  top: -230%;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.img-basic {
  display: block;
  width: 100%;
  object-fit: cover;
}
.img-basic--icon {
  width: 20px;
}
// ===== Element basics ends ===== //


// ===== Section Main starts ===== //
#section-main {
  //background-color: lightblue;
  background-image: url("/img/bg-main-section-2.jpeg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50%;
}

.greetings {
  @include centering-xy;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #ffffff;
  z-index: 5;
}

.greetings__welcome {
  margin-bottom: 30px;
}

.greetings__name {
  margin-bottom: 15px;
}

.greetings__desc {
  width: 60%;
  line-height: 30px;
  margin: 0 auto 30px auto;
}

.btn-basic--contact {
  margin: 0 auto;

  &:hover {
    background-color: transparent;
    color: #ffffff;
  }
}
// ===== Section Main ends ===== //



// ===== Section Studio starts ===== //
.slide-left__studio {

}

.slide-right__heading {
  display: inline-block;
  position: relative;
  margin-bottom: 15%;

  &::after {
    content: "";
    @include centering-x;
    top: 90px;
    height: 3px;
    width: 20%;
    background-color: $color-accent;
  }
}

.img-basic--studio {
  top: 10% !important;
}

.slide-right__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: $font-text-light;
  margin-bottom: 20%;

  span,
  a {
    position: relative;
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
  }

  span::before,
  a::before {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    left: -40px;
  }

  span::before {
    content: url("/img/icon-clock.png");
  }
  a:nth-child(2)::before {
    content: url("/img/icon-geo.png");
  }
}
// ===== Section Studio ends ===== //
