.swiper {
  width: 100%;
  max-width: 800px;
  border-radius: 4px;
  .swiper-slide {
    picture {
      width: 100%;
    }
    img {
      display: block;
      width: 100%;
      object-fit: contain;
    }
  }
}
