// ---------- variables ------------------------------------
$max-width: 1440px;
$header-height-desk: 85px;
$header-height-mob: 55px;

$bg-color: #ffffff;
$color-primary: #222222;
$color-secondary: #f3f3f3;
$color-accent: #374BBC;

$font-heading-bold: "LibreBodoni-Bold", serif;
$font-heading-medium: "LibreBodoni-Medium", serif;
$font-heading-regular: "LibreBodoni-Regular", serif;
$font-text-regular: "OpenSans-Regular", Arial sans-serif;
$font-text-light: "OpenSans-Light", Arial sans-serif;

$padding-desk: 50px 20px;
$padding-mob: 40px 15px;
